@import url("./../fonts/Fira Code/fira_code.css");

@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
}

:root {
  --bg-color: #000414;
  --bg-color-secondary: #122054;
}

div {
  color: white;
}